.menu-container{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(10, 10, 10);
    height: 60px;
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 1;
    .menu {
        width: 1440px;
        max-width: 1920px;
        display: flex;
        height: 60px;  
        align-items: center;
        margin: 0 auto;
        padding: 0 3% 0 3%;
        .btn-nav{
            margin-left: 2%;
        }
    }
}
.btn-menu {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    // font-family: 'Fira Sans', sans-serif;
    // font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 18px 2px;
    height: 100%;
    &:hover {
        border-bottom: 2px solid greenyellow;
    }
}

.btn-menu:hover {
    color: chartreuse;
}
.btn-menu-dop {
    margin-right: 2%;
}
#basket {
    margin-left: auto;
}
.menu-icon {
    vertical-align:middle;
    width: 28px;
}